body {
 margin: 0;
}

footer {
 font-family: "open sans", sans-serif;
 background-color: #00428a;
 display: flex;
 color: #fff;
}

.bloque-1, .bloque-2 {
 display: flex;
 margin: 20px;
 }

.div1, .div2, .div3, .div4 {
  margin: 30px;
}

.div1 {
  width: 400px;
}

span {
  font-weight: bold;
}

@media (max-width: 900px) {
 footer { 
  flex-wrap: wrap;
  }
  .bloque-1 {
   flex: 100%;
  }
  .div1, .div2, .div3, .div4 {
    flex: 50%;
  }
}
 @media (max-width: 600px) {
  footer > div {
   flex-direction: column;
   }
  }
 